.modal-full {
  position: fixed;
  z-index: 9999;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-background-opacity);
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 99999;
  background-color: var(--main-background);
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.modal-main {
  height: 60vh;
}

.modal .post-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.modal .create-post {
  border-radius: 0;
  padding: 1rem 0.5rem 0.5rem;
}

.modal .create-post::-webkit-input-placeholder {
  color: var(--unfocus-color);
}

.modal input[type='text'],
.modal textarea {
  background-color: transparent;
  min-height: auto;
}

.modal form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal textarea {
  flex-grow: 1;
  resize: none;
}

.modal input[type='text']:not(:last-child),
.modal textarea:not(:nth-last-child(2)) {
  border-bottom: 2px solid var(--text-color);
}

.modal-selector {
  height: 60vh;
}

.modal-main.open,
.modal-selector.open {
  animation-name: swipeUp-modal-main;
  animation-duration: 0.5s;
  bottom: 0;
}
.modal-main.close,
.modal-selector.close {
  bottom: -60vh;
  animation-name: swipeDown-modal-main;
  animation-duration: 0.5s;
}

@keyframes swipeUp-modal-main {
  from {
    bottom: -60vh;
  }
  to {
    bottom: 0vh;
  }
}
@keyframes swipeDown-modal-main {
  from {
    bottom: 0vh;
  }
  to {
    bottom: -60vh;
  }
}

.modal.modal-comment.open {
  animation-name: swipeUp-modal-comment;
  animation-duration: 0.5s;
}

.modal-comment.close {
  height: 0;
  animation-name: swipeDown-modal-comment;
  animation-duration: 0.5s;
  padding: 0;
}

@keyframes swipeUp-modal-comment {
  from {
    height: 0;
  }
  to {
    height: 30vh;
  }
}

@keyframes swipeDown-modal-comment {
  from {
    height: 30vh;
  }
  to {
    height: 0;
  }
}

.modal-full.open {
  animation: opacity-modal-full-in 0.5s;
}
.modal-full.close {
  animation: opacity-modal-full-out 0.5s;
}

@keyframes opacity-modal-full-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-modal-full-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-selector {
  height: 60vh;
  overflow: auto;
}

.community-block {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--grey-color);
  z-index: 99;
}

.community-block img {
  border-radius: 50%;
  margin-right: 0.5rem;
}
.community-block img,
.community-block p {
  z-index: -1;
}

.modal header {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 1rem;
}

.modal header h1,
.modal header p {
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
}

.modal header .align {
  margin-right: 1rem;
}

.modal .community-selector .unfocus {
  padding-left: 0.5rem;
}

.modal .community-selector svg.logo,
.modal .community-selector img {
  background-color: var(--dark-background);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.modal .community-selector svg.logo {
  padding: 0.25rem;
}

.send-post {
  color: var(--main-color);
  background-color: transparent;
  width: auto;
  display: inline;
  border: 0;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.send-post.disable {
  color: var(--unfocus-color);
}

.modal.modal-comment {
  height: 30vh;
}

.user-page .modal {
  display: flex;
  flex-direction: column;
}

.user-page .modal > main {
  overflow: scroll;
}

.avatar-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
}

.avatar-selector {
  width: calc(50vw - 1rem);
  height: calc(50vw - 1rem);
  overflow: hidden;
  margin: 0.5rem 0;
}

.avatar-selector img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.more-options {
  right: 0;
  position: absolute;
  background: var(--dark-background);
  list-style: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  top: 1rem;
  z-index: 9;
}

.modal-full.options {
  background-color: transparent;
  z-index: 1;
}

.more-options .option {
  display: flex;
}

.more-options .option svg {
  display: inline;
}

.more-options .option > p {
  display: flex;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: -webkit-fill-available;
  background-color: var(--main-background);
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.burger-menu .user-header {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--dark-background);
  border-top-right-radius: 0.5rem;
}

.burger-menu .user-header button {
  font-size: 1rem;
}

.burger-menu .user-header svg {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.burger-menu .user-header img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.burger-menu.open {
  left: 0;
  transition: 0.5s;
}

.burger-menu.close {
  left: -60vw;
  transition: 0.5s;
}

.burger-menu .menu-list {
  margin-top: 1rem;
}

.burger-menu .menu-list li {
  display: flex;
  margin: 0.5rem;
}

.burger-menu .menu-list img {
  border-radius: 50%;
  margin-right: 0.5rem;
}

.burger-menu .log-out {
  position: absolute;
  width: 100%;
  bottom: 3rem;
}

.burger-menu .log-out a {
  float: right;
  margin-right: 1rem;
  color: var(--unfocus-color);
}

.burger-menu .menu-list li a {
  color: var(--text-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.burger-menu .menu-list svg {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.burger-menu .settings {
  bottom: 0;
  position: absolute;
  padding: 0.5rem;
  width: 100%;
  background-color: var(--dark-background);
  border-bottom-right-radius: 0.5rem;
  border: 1px solid var(--main-background);
}

.burger-menu .settings a {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.burger-menu .settings svg {
  width: 1.25rem;
  height: 1.25rem;
}

.colorSelector {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0;
}

.colorSelector.purple {
  background-color: darkorchid;
}
.colorSelector.orange {
  background-color: #ff6b00;
}
.colorSelector.green {
  background-color: #00ff0a;
}

.burger-menu.no-logged header.user-header {
  display: block;
  padding-top: 3rem;
}
